 {{template "header.html" .}}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <div class="jumbotron">
                <div class="col-xs-offset-1 col-md-offset-0">
                    <h2>{{.Res}}</h2>
                    <p>如果觉得这个工具对你有帮助，可以请开发者吃包辣条^_^</p>
                    <img class="img-responsive " alt="zhifubao" src="/static/zhifubao.png">
                    <img class="img-responsive " alt="weixin" src="/static/weixin.png">
                </div>
                <div class="col-xs-offset-2 col-md-offset-2">
                    
                </div>
            </div>
        </div>
    </div>

</div>

{{template "footer.html" .}}