{{template "header.html" .}}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <div class="jumbotron">
                <div class="col-xs-offset-1 col-md-offset-0">
                    <h2>欢迎您{{.Name}}同学</h2>
                    <p>先评价后才可以查询</p>
                    <p>当前使用人数较多，如未评价成功请稍后再次尝试</p>
                </div>
                <div class="col-xs-offset-2 col-md-offset-2">
                    <form id="sub" class="form-inline" role="form" method="post">
                        <input type="hidden" class="form-control" name=name value={{.Name}}>
                        <input type="hidden" class="form-control" name=num value={{.Num}}>
                        <div class="form-group">
                            <button id="btn1" type="submit" class="btn btn-success active" onclick="credit()">学分查询</button>
                            <button id="btn2" type="submit" class="btn btn-success active" onclick="grade()">成绩查询</button>
                            <div id="waiting" class="lds-css ng-scope" style="display:none">
                                <div style="width:100%;height:100%" class="lds-facebook">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <style type="text/css">
                                    @keyframes lds-facebook_1 {
                                        0% {
                                            top: 36px;
                                            height: 128px;
                                        }

                                        50% {
                                            top: 60px;
                                            height: 80px;
                                        }

                                        100% {
                                            top: 60px;
                                            height: 80px;
                                        }
                                    }

                                    @-webkit-keyframes lds-facebook_1 {
                                        0% {
                                            top: 36px;
                                            height: 128px;
                                        }

                                        50% {
                                            top: 60px;
                                            height: 80px;
                                        }

                                        100% {
                                            top: 60px;
                                            height: 80px;
                                        }
                                    }

                                    @keyframes lds-facebook_2 {
                                        0% {
                                            top: 41.99999999999999px;
                                            height: 116.00000000000001px;
                                        }

                                        50% {
                                            top: 60px;
                                            height: 80px;
                                        }

                                        100% {
                                            top: 60px;
                                            height: 80px;
                                        }
                                    }

                                    @-webkit-keyframes lds-facebook_2 {
                                        0% {
                                            top: 41.99999999999999px;
                                            height: 116.00000000000001px;
                                        }

                                        50% {
                                            top: 60px;
                                            height: 80px;
                                        }

                                        100% {
                                            top: 60px;
                                            height: 80px;
                                        }
                                    }

                                    @keyframes lds-facebook_3 {
                                        0% {
                                            top: 48px;
                                            height: 104px;
                                        }

                                        50% {
                                            top: 60px;
                                            height: 80px;
                                        }

                                        100% {
                                            top: 60px;
                                            height: 80px;
                                        }
                                    }

                                    @-webkit-keyframes lds-facebook_3 {
                                        0% {
                                            top: 48px;
                                            height: 104px;
                                        }

                                        50% {
                                            top: 60px;
                                            height: 80px;
                                        }

                                        100% {
                                            top: 60px;
                                            height: 80px;
                                        }
                                    }

                                    .lds-facebook {
                                        position: relative;
                                    }

                                    .lds-facebook div {
                                        position: absolute;
                                        width: 30px;
                                    }

                                    .lds-facebook div:nth-child(1) {
                                        left: 35px;
                                        background: #f05125;
                                        -webkit-animation: lds-facebook_1 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
                                        animation: lds-facebook_1 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
                                        -webkit-animation-delay: -0.2s;
                                        animation-delay: -0.2s;
                                    }

                                    .lds-facebook div:nth-child(2) {
                                        left: 85px;
                                        background: #fdb813;
                                        -webkit-animation: lds-facebook_2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
                                        animation: lds-facebook_2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
                                        -webkit-animation-delay: -0.1s;
                                        animation-delay: -0.1s;
                                    }

                                    .lds-facebook div:nth-child(3) {
                                        left: 135px;
                                        background: #7fbb42;
                                        -webkit-animation: lds-facebook_3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
                                        animation: lds-facebook_3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
                                    }

                                    .lds-facebook {
                                        width: 200px !important;
                                        height: 200px !important;
                                        -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
                                        transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
                                    }
                                </style>
                            </div>
                            <p>评价时间大约10s,请耐心等待</p>
                            <p>评价策略：一良好其余优秀</p>
                            <button id="btn3" type="submit" class="btn btn-success active" onclick="aevaluate()">教学评价</button>
                            <p>如遇到任何问题，请加qq 2823572893反馈 谢谢</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    function grade() {
        document.forms.sub.action = "/grade";
        document.forms.sub.submit();
        document.getElementById("btn2").disabled = true;
        document.getElementById("waiting").style.display = "block";
    }
    function credit() {
        document.forms.sub.action = "/credit";
        document.forms.sub.submit();
        document.getElementById("btn1").disabled = true;
        document.getElementById("waiting").style.display = "block";
    }
    function aevaluate() {
        document.forms.sub.action = "/evaluate";
        document.forms.sub.submit();
        document.getElementById("btn3").disabled = true;
        document.getElementById("waiting").style.display = "block";
    }
</script> {{template "footer.html" .}}