{{define "fault"}} {{template "header"}}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="jumbotron">
                <div class="col-md-offset-0 col-xs-offset-3">
                    <h1>出错了!</h1>
                </div>
                <div class="col-md-offset-0 col-xs-offset-5">
                    <h1>-_-</h1>
                </div>
                <div class="col-md-offset-0 col-xs-offset-1">
                    <p>请点击登录按钮重新登录</p>
                </div>
                <p><a class="btn btn-success btn-lg active col-md-offset-4 col-xs-offset-4" href="/login/" role="button">登录</a></p>
            </div>
        </div>
    </div>
</div>
{{template "footer"}} {{end}}